{
  "openapi": "3.1.0",
  "info": {
    "version": "1.0.0",
    "title": "Uber Guest Rides API",
    "description": "\nThe Guest Rides API enables businesses to provide Uber rides for their guests without requiring them to have an Uber account. This API supports creating, managing, and tracking rides programmatically while integrating seamlessly into your workflows. Key functionalities include:\n- Booking rides on behalf of others.\n- Viewing trip details, driver information, and statuses.\n- Managing ride modifications like updates and cancellations.\n- Sending SMS notifications to riders.\n"
  },
  "servers": [
    {
      "url": "https://api.uber.com/v1",
      "description": "Production"
    },
    {
      "url": "https://sandbox-api.uber.com/v1",
      "description": "Sandbox"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "AUTHENTICATION",
      "description": "Generate OAuth 2.0 access tokens required to authenticate API calls."
    },
    {
      "name": "SANDBOX",
      "description": "Simulate trip creation and progression for testing and QA purposes."
    },
    {
      "name": "LOCATION REFINEMENT",
      "description": "Enhance trip logistics with venue pickup zones and address autocomplete."
    },
    {
      "name": "ESTIMATES",
      "description": "Get fare and product estimates prior to booking a trip."
    },
    {
      "name": "TRIPS",
      "description": "Create, update, cancel, and retrieve guest trip details."
    },
    {
      "name": "GUEST DETAILS",
      "description": "Retrieve guest-specific information such as phone number validation and SMS opt-out status."
    },
    {
      "name": "MANAGE TRIP ON BEHALF OF USER",
      "description": "Add a tip or dispatch a flexible trip after it has been created."
    },
    {
      "name": "TRIP COMMUNICATION",
      "description": "Send messages or initiate SMS/voice communication during a trip."
    },
    {
      "name": "WEBHOOKS",
      "description": "Webhooks allow your application to receive near real-time notifications about events in the Guest Rides API, such as trip status changes, driver messages, or receipt readiness.\n\nFor setup instructions and more details, visit our [Webhooks Guide](https://developer.uber.com/docs/guest-rides/guides/webhooks).\n"
    }
  ],
  "webhooks": {
    "guests.trips.trip_message": {
      "post": {
        "summary": "Trip Message Notification Webhook",
        "tags": [
          "WEBHOOKS"
        ],
        "security": [],
        "description": "Event indicating that the driver for the trip has sent a message.\nThe message is included under the `data.message` field.\n\n**Note:** The `guests.trips.trip_message` event_type can only have one `meta.status` value:\n- `message_received`: The driver has sent a message.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TripMessageWebhook"
              },
              "examples": {
                "driver_message": {
                  "$ref": "#/components/examples/TripMessageWebhookExample"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully received webhook."
          }
        }
      }
    },
    "guests.trips.status_changed": {
      "post": {
        "summary": "Status Changed Webhook",
        "tags": [
          "WEBHOOKS"
        ],
        "security": [],
        "description": "This webhook is triggered when the status of a guest ride changes.\nThe receiving system must implement an endpoint to handle these updates.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StatusChangedWebhook"
              },
              "examples": {
                "accepted": {
                  "$ref": "#/components/examples/StatusChangedAccepted"
                },
                "arriving": {
                  "$ref": "#/components/examples/StatusChangedArriving"
                },
                "completed": {
                  "$ref": "#/components/examples/StatusChangedCompleted"
                },
                "upfront_driver_assigned": {
                  "$ref": "#/components/examples/StatusChangedUpfrontAssigned"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully received webhook."
          }
        }
      }
    },
    "guests.trips.receipt_ready": {
      "post": {
        "summary": "Receipt Ready Notification Webhook",
        "tags": [
          "WEBHOOKS"
        ],
        "security": [],
        "description": "Event indicating that a receipt has been created for the trip.\nSent upon completion of a trip or when an update to the final fare of a trip is added to a receipt.\n\n**Note:** The `guests.trips.receipt_ready` event_type can only have one status value:\n- `ready`: The receipt has been generated and is ready for retrieval.\n\n**Receipts ready webhooks are only available for production trips.**\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReceiptReadyWebhook"
              },
              "examples": {
                "receipt_ready": {
                  "$ref": "#/components/examples/ReceiptReadyWebhookExample"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully received webhook."
          }
        }
      }
    },
    "guests.trips.driver_location": {
      "post": {
        "summary": "Driver Location Notification Webhook",
        "tags": [
          "WEBHOOKS"
        ],
        "security": [],
        "description": "Event indicating the updated real-time location of the driver for a trip.\n\nThis webhook is sent continuously during the trip at 4-second intervals until the trip is complete.\n\n**Note:** Frequent driver location updates are not available in all regions. Contact your Uber representative to enable this feature.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DriverLocationWebhook"
              },
              "examples": {
                "driver_location": {
                  "$ref": "#/components/examples/DriverLocationWebhookExample"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully received webhook."
          }
        }
      }
    }
  },
  "paths": {
    "/oauth/v2/token": {
      "post": {
        "operationId": "postOAuthToken",
        "summary": "Generate Access Token",
        "tags": [
          "AUTHENTICATION"
        ],
        "servers": [
          {
            "url": "https://auth.uber.com",
            "description": "OAuth 2.0 Authorization Server"
          }
        ],
        "security": [
          {
            "OAuth2": [
              "guests.trips"
            ]
          }
        ],
        "description": "Use this endpoint to generate an OAuth 2.0 access token using the client credentials flow.\n\n**Token Usage:**\n- Every API request to the Uber Platform requires an Authentication header using the access token.\n  Example: `Authorization: Bearer {access_token}`\n- The access token authenticates requests as an application, not as a user.\n- Tokens grant access to the scopes that are specified at the time of generation.\n- Tokens cannot be \"refreshed\", but new tokens can be created at any time.\n- Tokens expire after 30 days (2,592,000 seconds) or earlier if a new scope is added.\n\n**Security Best Practices:**\n- Encrypt access tokens and store them securely.\n- Never share your client_secret publicly or check it into source code.\n- If a client_secret is suspected to be compromised, generate a new one from the Developer Dashboard.\n\n**Token Generation Methods:**\n- **Developer Dashboard**: You can manually generate an access token via your Developer Dashboard.\n- **API Request** (recommended for automated systems): Use this endpoint with `application/x-www-form-urlencoded` or `multipart/form-data`. (JSON encoding is not supported.)\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "client_id",
                  "client_secret",
                  "grant_type",
                  "scope"
                ],
                "properties": {
                  "client_id": {
                    "type": "string",
                    "description": "OAuth client ID provided by Uber.\nTreat this as your application's username.\n",
                    "example": "your-client-id"
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "OAuth client secret associated with your application.\nTreat this like a password — never expose it publicly or in client-side code.\n",
                    "example": "your-client-secret"
                  },
                  "grant_type": {
                    "type": "string",
                    "description": "OAuth 2.0 grant type.\nMust be set to `client_credentials` when generating an app-level access token.\n",
                    "enum": [
                      "client_credentials"
                    ],
                    "example": "client_credentials"
                  },
                  "scope": {
                    "type": "string",
                    "description": "Space-separated list of scopes the access token will provide access to.\nExample scope: `guests.trips`.\n",
                    "example": "guests.trips"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "# Replace {client_id} and {client_secret} in the code block below with your specific values.\n\ncurl -L -X POST 'https://login.uber.com/oauth/v2/token' \\\n-H 'Content-Type: application/x-www-form-urlencoded' \\\n-d 'client_id={client_id}' \\\n-d 'client_secret={client_secret}' \\\n-d 'grant_type=client_credentials' \\\n-d 'scope=guests.trips''\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Access token generated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string",
                      "description": "The OAuth access token used in Authorization headers.",
                      "example": "AAAWsJcNyGj3QabZCy..."
                    },
                    "token_type": {
                      "type": "string",
                      "description": "Type of token returned. Will always be `Bearer`.",
                      "default": "Bearer"
                    },
                    "expires_in": {
                      "type": "integer",
                      "description": "Token lifetime in seconds. Default is 2,592,000 seconds (30 days).",
                      "default": 2592000
                    },
                    "scope": {
                      "type": "string",
                      "description": "List of scopes granted to the access token.",
                      "example": "guests.trips"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request was invalid or missing required parameters.",
            "content": {
              "application/json": {
                "examples": {
                  "invalid_request": {
                    "summary": "Required parameters were not provided.",
                    "value": {
                      "error": "invalid_request",
                      "error_description": "Required parameters were not provided."
                    }
                  },
                  "invalid_grant": {
                    "summary": "Provided grant_type is invalid.",
                    "value": {
                      "error": "invalid_grant",
                      "error_description": "The grant_type that was provided is invalid."
                    }
                  },
                  "invalid_scope": {
                    "summary": "Scope parameter provided is not valid.",
                    "value": {
                      "error": "invalid_scope",
                      "error_description": "scope(s) are invalid"
                    }
                  },
                  "unsupported_grant_type": {
                    "summary": "Provided grant_type is not supported.",
                    "value": {
                      "error": "unsupported_grant_type",
                      "error_description": "grant type is not supported"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid client credentials.",
            "content": {
              "application/json": {
                "examples": {
                  "invalid_client": {
                    "summary": "client_id or client_secret is invalid.",
                    "value": {
                      "error": "invalid_client",
                      "error_description": "client ID is invalid"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Client is not allowed access.",
            "content": {
              "application/json": {
                "examples": {
                  "access_denied": {
                    "summary": "Client secret mismatch or forbidden operation.",
                    "value": {
                      "error": "access_denied",
                      "error_description": "AccessDenied: client secret mismatch"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error. Something went wrong on Uber's servers.",
            "content": {
              "application/json": {
                "examples": {
                  "server_error": {
                    "summary": "Unknown server error.",
                    "value": {
                      "error": "server_error",
                      "error_description": "The server returned an unknown error."
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable. Server temporarily unable to respond.",
            "content": {
              "application/json": {
                "examples": {
                  "temporarily_unavailable": {
                    "summary": "The service is temporarily unavailable.",
                    "value": {
                      "error": "temporarily_unavailable",
                      "error_description": "The endpoint is temporarily unable to respond."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/guests/trips/estimates": {
      "post": {
        "operationId": "getTripEstimate",
        "summary": "Get Guest Trip Estimates",
        "tags": [
          "ESTIMATES"
        ],
        "description": "Use this endpoint to get an estimated fare for a trip and to identify which products are available between a given trip origin and destination.\n\nTerms and Conditions for **Hourly Trips**:\n  - Tolls and surcharges: Any additional charges will be billed after your trip is complete.\n  - Non-refundable fare: You'll be charged for the full cost of the ride, even if the trip is shorter than what you originally requested.\n\nIn rare scenarios, it's possible for fare estimates to be temporarily unavailable.\n\n  - This results in a `200` response with `fares_unavailable` set to `true`.\n  - Within each `product_estimate.estimate_info`, the `fare` and `estimate` will both be `null` (as well as `fare_id` and `trip.duration_estimate`).\n  - Developers should handle this case to avoid any potential `nil` dereferences or unexpected errors.\n\nRides can still be requested without any of these fields, as `fare_id` is not strictly required.\n\nSometimes, a 200 Response will have `\"no_cars_available\": true`. This means that this product type is not currently available for the given coordinates and a trip may not be fulfilled. Trips can still be created, but you should inform users that a driver may not be available and the request may fail.\n\nRAPU (Reserve Airports Pickup) Trips\nTo estimate a Reserve Airport Pickup, you must provide `flight` details in request, and then select a product that includes `\"AIRPORT_PICKUP_WITH_FLIGHT_TRACKING\"` in `product.reserve_info.add_ons`\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/header_org_uuid"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/OnDemandEstimateRequest"
                  },
                  {
                    "$ref": "#/components/schemas/ScheduledEstimateRequest"
                  },
                  {
                    "$ref": "#/components/schemas/FlexibleEstimateRequest"
                  },
                  {
                    "$ref": "#/components/schemas/ReserveAirportPickupEstimateRequest"
                  }
                ]
              },
              "examples": {
                "single-stop-request": {
                  "$ref": "#/components/examples/SingleStopEstimateRequestExample"
                },
                "multi-stop-request": {
                  "$ref": "#/components/examples/MultiStopEstimateRequestExample"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with fare estimates and available products.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "fares_unavailable",
                    "etas_unavailable",
                    "product_estimates"
                  ],
                  "properties": {
                    "product_estimates": {
                      "type": "array",
                      "description": "List of estimated fares and product details.",
                      "items": {
                        "$ref": "#/components/schemas/ProductEstimate"
                      }
                    },
                    "etas_unavailable": {
                      "type": "boolean",
                      "description": "Indicates if estimated arrival times are unavailable."
                    },
                    "fares_unavailable": {
                      "type": "boolean",
                      "description": "Indicates if fare estimates are unavailable."
                    }
                  }
                },
                "examples": {
                  "estimate-with-fare": {
                    "$ref": "#/components/examples/EstimateResponseWithFare"
                  },
                  "estimate-with-range": {
                    "$ref": "#/components/examples/EstimateResponseWithEstimates"
                  },
                  "no-fare-available": {
                    "$ref": "#/components/examples/EstimateResponseNoFareAvailable"
                  },
                  "estimate-reserve-airport-pickup": {
                    "$ref": "#/components/examples/EstimateResponseWithAirportPickupAddOn"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailedError",
            "content": {
              "application/json": {
                "examples": {
                  "invalid-request-param": {
                    "summary": "Invalid request parameter.",
                    "value": {
                      "code": "invalid_request_parameters",
                      "message": "Invalid organization uuid {{org_uuid}}",
                      "metadata": {
                        "statusCode": "400"
                      }
                    }
                  },
                  "invalid-lat-lon": {
                    "summary": "Invalid parameter format (Lat/Long)",
                    "value": {
                      "code": "validation_failed",
                      "message": "Invalid request. The provided latitude and longitude values must be numeric.",
                      "metadata": {
                        "statusCode": "400"
                      }
                    }
                  },
                  "no-product-found": {
                    "summary": "No products found",
                    "value": {
                      "code": "no_product_found",
                      "message": "No products found for request.",
                      "metadata": {
                        "statusCode": "400"
                      }
                    }
                  },
                  "validation-failed": {
                    "summary": "Missing required parameter",
                    "value": {
                      "code": "validation_failed",
                      "message": "Request.Pickup is required",
                      "metadata": {
                        "statusCode": "400"
                      }
                    }
                  },
                  "unsupported-location": {
                    "summary": "Unsupported pickup location",
                    "value": {
                      "code": "400",
                      "message": "Invalid request. The specified pickup location is not supported.",
                      "metadata": {
                        "statusCode": "400"
                      }
                    }
                  },
                  "distance-exceeded": {
                    "summary": "Dropoff location too far",
                    "value": {
                      "code": "distance_exceeded",
                      "message": "The dropoff location is too far from the pickup location.",
                      "metadata": {
                        "statusCode": "400"
                      }
                    }
                  },
                  "outside-service-area": {
                    "summary": "Pickup location outside service area",
                    "value": {
                      "code": "outside_service_area",
                      "message": "The pickup location you entered is outside Uber’s service area.",
                      "metadata": {
                        "statusCode": "400"
                      }
                    }
                  },
                  "flight_not_found": {
                    "value": {
                      "message": "Unable to find a matching flight.",
                      "metadata": {
                        "statusCode": "400"
                      },
                      "code": "flight_not_found"
                    }
                  },
                  "invalid_flight_landing_time": {
                    "value": {
                      "message": "Invalid flight landing time. Make sure to reserve a trip 2 hrs before the flight lands.",
                      "metadata": {
                        "statusCode": "400"
                      },
                      "code": "invalid_flight_landing_time"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailableError"
          }
        }
      }
    },
    "/guests/trips": {
      "post": {
        "operationId": "createGuestTrip",
        "summary": "Create Guest Trip",
        "tags": [
          "TRIPS"
        ],
        "description": "Use this endpoint to create a new guest trip request. This is typically done **after calling the Create Guest Trip Estimate endpoint**, which provides available products, pricing, and an optional `fare_id` to include for fare locking.\nDepending on the ride type, you can request a trip for immediate pickup or schedule one in advance.\n\n**Ride Types:**\n- **On Demand** – Request a driver for immediate pickup.\n- **Scheduled** – Automatically dispatch a driver to arrive at the specified `pickup_time`. Available in supported areas.\n- **Reserve** – Reserve a ride in advance with a pre-assigned driver. Available in select regions.\n- **Hourly** – Book a driver for a set duration and distance. Follows Uber Reserve policies.\n- **Flexible** – Riders receive a text on the specified day with a link to request a ride when ready.\n- **Reserve Airport Pickup** – Riders receive a text with a link to begin their ride once their flight has landed at the arrival airport.\n\n**Fare Estimates (Recommended Flow):**\n- Prior to creating a trip, call the [Create Guest Trip Estimate](#operation/post-v1-guests-trips-estimates) endpoint to retrieve pricing and availability.\n- If available, include the `fare_id` returned from the estimate in your trip request for pricing consistency.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/header_org_uuid"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/OnDemand"
                  },
                  {
                    "$ref": "#/components/schemas/Scheduled"
                  },
                  {
                    "$ref": "#/components/schemas/Reserve"
                  },
                  {
                    "$ref": "#/components/schemas/Hourly"
                  },
                  {
                    "$ref": "#/components/schemas/Flexible"
                  },
                  {
                    "$ref": "#/components/schemas/ReserveAirportPickup"
                  }
                ]
              },
              "examples": {
                "on_demand_coordinates": {
                  "$ref": "#/components/examples/OnDemandTripCoordinates"
                },
                "scheduled_ride": {
                  "$ref": "#/components/examples/ScheduledRideTrip"
                },
                "hourly_ride": {
                  "$ref": "#/components/examples/HourlyTrip"
                },
                "flexible_ride": {
                  "$ref": "#/components/examples/FlexibleTrip"
                },
                "reserve_airport_pickup_ride": {
                  "$ref": "#/components/examples/ReserveAirportPickupTrip"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Trip created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTripResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailedError",
            "content": {
              "application/json": {
                "examples": {
                  "invalid_payment": {
                    "value": {
                      "message": "We are unable to accept this payment method. Please contact your payment provider or try adding another payment method.",
                      "metadata": {
                        "statusCode": "400"
                      },
                      "code": "invalid_payment_method"
                    }
                  },
                  "product_not_found": {
                    "value": {
                      "message": "Request.ProductID is required.",
                      "metadata": {
                        "statusCode": "400"
                      },
                      "code": "invalid_product_id"
                    }
                  },
                  "out_of_policy": {
                    "value": {
                      "message": "This ride is not within your company policy. Please switch to another profile to request a ride.",
                      "metadata": {
                        "statusCode": "400"
                      },
                      "code": "out_of_policy"
                    }
                  },
                  "fare_expired": {
                    "value": {
                      "message": "Invalid upfront fare.",
                      "metadata": {
                        "statusCode": "400"
                      },
                      "code": "fare_expired"
                    }
                  },
                  "teen_account_restricted": {
                    "value": {
                      "message": "Your request could not be processed. The phone number for the rider Tirel Abrams is associated with a teen account. Only the parent or guardian linked to the teen's account can book rides for them.",
                      "metadata": {
                        "statusCode": "400"
                      },
                      "code": "validation_failed"
                    }
                  },
                  "mobile_required": {
                    "value": {
                      "message": "To send a flexible ride, your rider must have a mobile number",
                      "metadata": {
                        "statusCode": "400"
                      },
                      "code": "mobile_required"
                    }
                  },
                  "invalid_org_uuid": {
                    "value": {
                      "message": "Invalid organization uuid",
                      "metadata": {
                        "statusCode": "400"
                      },
                      "code": "invalid_request_parameters"
                    }
                  },
                  "unsupported_scheduling": {
                    "value": {
                      "message": "Scheduled rides can’t be requested in this area. To set up a ride for a future date, create a Flexible Ride and let the rider request when they’re ready.",
                      "metadata": {
                        "statusCode": "400"
                      },
                      "code": "unsupported_product"
                    }
                  },
                  "flight_not_found": {
                    "value": {
                      "message": "Unable to find a matching flight.",
                      "metadata": {
                        "statusCode": "400"
                      },
                      "code": "flight_not_found"
                    }
                  },
                  "invalid_flight_landing_time": {
                    "value": {
                      "message": "Invalid flight landing time. Make sure to reserve a trip 2 hrs before the flight lands.",
                      "metadata": {
                        "statusCode": "400"
                      },
                      "code": "invalid_flight_landing_time"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailableError"
          }
        }
      },
      "get": {
        "operationId": "listGuestTrips",
        "summary": "List All Guest Trips",
        "tags": [
          "TRIPS"
        ],
        "description": "Use this endpoint to retrieve a list of guest trips associated with your application.\n\nBy default, it returns the 50 most recent trips. You can use optional query parameters to filter by trip status, paginate results, or request editable fields.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/trip_status"
          },
          {
            "$ref": "#/components/parameters/start_key"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/include_editable_fields"
          },
          {
            "$ref": "#/components/parameters/header_org_uuid"
          }
        ],
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "# Replace {token} in the code block below with your specific values.\n\ncurl -X GET 'https://api.uber.com/v1/guests/trips?limit=1&start_key=Ev4BPwQBAv4BQAABDAH%2BAToAAFv%2BATkDAQL%2BAToAAQoBAUIBCgABBEJPT0wBAgABAkJTAf4BPAABAUwB%2FgE%2BAAEBTQH%2BAUAAAQFOAQwAAQJOUwH%2B4AABBE5VTEwBAgABAVMBDAABAlNTAf%2FgAAAAGf4BOwIBAQlbXVtddWludDgB%2FgE8AAEKAAAs%2FgE9AgEBGltdKmR5bmFtb2RiLkF0dHJpYnV0ZVZhbHVlAf4BPgAB%2FgE6AAAX%2F98CAQEJW10qc3RyaW5nAf%2FgAAEMAAD%2F2P4BQAAE...' \\\n-H 'Accept: application/json' \\\n-H 'Authorization: Bearer {token}'\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of trips associated with the organization, with pagination support.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAllTripsResponse"
                },
                "examples": {
                  "firstPageWithNextKey": {
                    "$ref": "#/components/examples/FirstPageWithNextKey"
                  },
                  "finalPageWithoutNextKey": {
                    "$ref": "#/components/examples/FinalPageWithoutNextKey"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailedError",
            "content": {
              "application/json": {
                "examples": {
                  "invalid-request-param": {
                    "summary": "Invalid request parameter.",
                    "value": {
                      "code": "invalid_request_parameters",
                      "message": "Invalid organization uuid {{org_uuid}}",
                      "metadata": {
                        "statusCode": "400"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailableError"
          }
        }
      }
    },
    "/guests/trips/{request_id}": {
      "get": {
        "operationId": "getGuestTrip",
        "summary": "Get Guest Trip",
        "tags": [
          "TRIPS"
        ],
        "description": "Use this endpoint to retrieve detailed information about a guest trip using its `request_id`.\nThe response includes the current trip status, rider and driver information, pickup and drop-off locations, estimated or final fare details, and any relevant metadata (e.g., product, scheduling, or fulfillment info).\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/Accept-Language"
          },
          {
            "$ref": "#/components/parameters/request_id"
          },
          {
            "$ref": "#/components/parameters/include_editable_fields"
          },
          {
            "$ref": "#/components/parameters/header_org_uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with trip details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GuestTripResponse"
                },
                "examples": {
                  "AcceptedTripWithEditableFields": {
                    "$ref": "#/components/examples/AcceptedTripWithEditableFields"
                  },
                  "ProcessingTripWithDirectedDispatchInfo": {
                    "$ref": "#/components/examples/ProcessingTripWithDirectedDispatchInfo"
                  },
                  "InProgressTripResponse": {
                    "$ref": "#/components/examples/InProgressTripResponse"
                  },
                  "CompletedTripResponse": {
                    "$ref": "#/components/examples/CompletedTripResponse"
                  },
                  "CanceledTripResponse": {
                    "$ref": "#/components/examples/CanceledTripResponse"
                  },
                  "DriverCanceledWithFollowUpTripBookedResponse": {
                    "$ref": "#/components/examples/DriverCanceledWithFollowUpTripBookedResponse"
                  },
                  "ScheduledHourlyTripResponse": {
                    "$ref": "#/components/examples/ScheduledHourlyTripResponse"
                  },
                  "InProgressHourlyTripWithOverageResponse": {
                    "$ref": "#/components/examples/InProgressHourlyTripWithOverageResponse"
                  },
                  "CompletedHourlyTripResponse": {
                    "$ref": "#/components/examples/CompletedHourlyTripResponse"
                  },
                  "OfferedFlexibleTripResponse": {
                    "$ref": "#/components/examples/OfferedFlexibleTripResponse"
                  },
                  "ReserveAirportPickupTripResponse": {
                    "$ref": "#/components/examples/ReserveAirportPickupTripResponse"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailedError",
            "content": {
              "application/json": {
                "examples": {
                  "invalid_request_id": {
                    "value": {
                      "message": "Request.RequestID is not a uuid.",
                      "metadata": {
                        "statusCode": "400"
                      },
                      "code": "validation_failed"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailableError"
          }
        }
      },
      "delete": {
        "operationId": "cancelGuestTrip",
        "summary": "Cancel Guest Trip",
        "tags": [
          "TRIPS"
        ],
        "description": "Use this endpoint to cancel a guest trip which hasn't been started or completed yet.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/request_id"
          }
        ],
        "responses": {
          "204": {
            "description": "Trip canceled successfully. No content is returned.",
            "content": {
              "application/json": {
                "example": {}
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailedError",
            "content": {
              "application/json": {
                "examples": {
                  "trip_already_completed": {
                    "value": {
                      "message": "Cannot cancel a completed ride.",
                      "metadata": {
                        "statusCode": "400"
                      },
                      "code": "trip_completed"
                    }
                  },
                  "invalid_request_id": {
                    "value": {
                      "message": "Request.RequestID is not a uuid.",
                      "metadata": {
                        "statusCode": "400"
                      },
                      "code": "validation_failed"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailableError"
          }
        }
      }
    },
    "/guests/trips/{trip_id}": {
      "put": {
        "operationId": "updateGuestTrip",
        "summary": "Update Guest Trip",
        "tags": [
          "TRIPS"
        ],
        "description": "Use this endpoint to update the details of an existing guest trip. Only the fields explicitly included in the request will be updated — any required fields omitted will be cleared or result in error.\n\nThis endpoint currently supports updates for **On-Demand** and **Flexible** ride types only.\n\n**Note:** Scheduled, Reserve, and Hourly rides cannot be modified. These rides must be canceled and rebooked using the [Create Guest Trip](#operation/get-v1-guests-trips-id) endpoint.\n\n**Update Eligibility:**\nThe ability to update a specific parameter depends on the current trip status. The status values in the table below are those returned by the [Get Guest Trip](#tag/TRIPS/operation/get-v1-guests-trips-id) endpoint. Webhook status values may differ and are not used for update eligibility.\n\n**Note:** Intermediate stops can only be updated for an hourly ride and are not available for point-to-point trips. Hourly rides are only available in certain regions via API. Only the destination and intermediate stops can be updated for active rides. You will need to ensure any fields other than the destination and the stops are the same as what they were set to when the trip was created.\n\n| Editable Parameter | On-Demand                                   |\n|--------------------|---------------------------------------------|\n| `pickup`           | accepted (within 200ft of original pickup)  |\n| `dropoff`          | processing, accepted, arriving, in_progress |\n| `note_for_driver`  | processing, accepted, arriving, in_progress |\n| `stops`            | processing, accepted, arriving, in_progress |\n| `additional_guests`| ❌ Not supported                            |\n| `product_id`       | ❌ Not supported                            |\n| `expense_memo`     | ❌ Not supported                            |\n\n\n| Editable Parameter | Flexible                                                       |\n|--------------------|----------------------------------------------------------------|\n| `pickup`           | scheduled                                                      |\n| `dropoff`          | scheduled, offered, processing, accepted, arriving, in_progress|\n| `note_for_driver`  | scheduled, offered, processing, accepted, arriving, in_progress|\n| `stops`            | scheduled, offered, processing, accepted, arriving, in_progress|\n| `additional_guests`| scheduled                                                      |\n| `product_id`       | scheduled                                                      |\n| `expense_memo`     | scheduled                                                      |\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/trip_id"
          },
          {
            "$ref": "#/components/parameters/header_org_uuid"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/OnDemandUpdateTripRequest"
                  },
                  {
                    "$ref": "#/components/schemas/FlexibleUpdateTrip"
                  }
                ]
              },
              "examples": {
                "On Demand Ride": {
                  "$ref": "#/components/examples/OnDemandTripCoordinates1"
                },
                "Flexible Ride": {
                  "$ref": "#/components/examples/FlexibleTrip1"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Trip updated successfully.",
            "content": {
              "application/json": {
                "example": {}
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailedError",
            "content": {
              "application/json": {
                "examples": {
                  "scheduled_ride_update": {
                    "summary": "Scheduled Ride Update Not Allowed",
                    "value": {
                      "code": "validation_failed",
                      "message": "Scheduled rides cannot be updated via the API"
                    }
                  },
                  "invalid_field_change": {
                    "summary": "Invalid Field Change",
                    "value": {
                      "code": "validation_failed",
                      "data": {
                        "invalid_field_changed": "start_location"
                      },
                      "message": "Only destination can be updated for active rides."
                    }
                  },
                  "ride_final_state": {
                    "summary": "Ride Final State",
                    "value": {
                      "code": "bad_request",
                      "message": "The ride has reached a final state and cannot be updated."
                    }
                  },
                  "pickup_out_of_bounds": {
                    "summary": "Pickup Out of Bounds",
                    "value": {
                      "message": "You can only adjust your pickup point within the area shown.",
                      "data": {
                        "statusCode": 400
                      },
                      "errCode": "pickup_cannot_be_updated"
                    }
                  },
                  "pickup_change_not_allowed": {
                    "summary": "Pickup Change Not Allowed",
                    "value": {
                      "message": "Sorry, you are not eligible for a pickup location change!",
                      "data": {
                        "statusCode": 400
                      },
                      "errCode": "pickup_cannot_be_updated"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailableError"
          }
        }
      }
    },
    "/guests/trips/{request_id}/receipt": {
      "get": {
        "operationId": "getGuestTripReceipt",
        "summary": "Retrieve Guest Trip Receipt",
        "tags": [
          "TRIPS"
        ],
        "description": "Use this endpoint to retrieve the receipt for a given guest trip.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/request_id"
          },
          {
            "$ref": "#/components/parameters/header_org_uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Receipt retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TripReceipt"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/GetTripReceiptResponseExample"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailedError",
            "content": {
              "application/json": {
                "examples": {
                  "invalid_request_id": {
                    "value": {
                      "message": "Request.RequestID is required",
                      "metadata": {
                        "statusCode": "400"
                      },
                      "code": "validation_failed"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError",
            "content": {
              "application/json": {
                "examples": {
                  "sandbox_error": {
                    "summary": "Receipt Fetch in Sandbox",
                    "value": {
                      "code": "entity_not_found",
                      "message": "Cannot fetch receipt for a trip created in the sandbox environment."
                    }
                  },
                  "receipt_not_generated": {
                    "summary": "Receipt Not Yet Generated",
                    "value": {
                      "code": "entity_not_found",
                      "message": "No receipt available. This may be because you weren't charged. Otherwise, check back later."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailableError"
          }
        }
      }
    },
    "/guests/trips/{request_id}/dispatch": {
      "post": {
        "operationId": "dispatchFlexibleRide",
        "summary": "Dispatch Flexible Ride",
        "tags": [
          "MANAGE TRIP ON BEHALF OF USER"
        ],
        "description": "Use this endpoint to dispatch a \"Flexible ride\" on behalf of a guest. Call this endpoint on the\nday of pickup when the rider is ready, and Uber will start preparing a driver dispatch. We recommend calling `/v1/guest-trips-get` following this request, in order to get latest information on trip details such as price, ETA etc.\n\n**Notes:**\n- This endpoint is available only for [Flexible ride types](https://developer.uber.com/docs/guest-rides/references/api/v1/guest-trips-post#ride-types).\n- Calling this endpoint when the ride has already been redeemed will result in an error.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/request_id"
          },
          {
            "$ref": "#/components/parameters/header_org_uuid"
          }
        ],
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "# Replace {token} in the code block below with your specific values.\n\ncurl -X POST 'https://api.uber.com/v1/guests/trips/353cd145-ea68-4739-b0ed-9ff55069009d/dispatch'\\\n-H 'Content-Type: application/json' \\\n-H 'Authorization: Bearer {token}' \\\n-d ''\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Flexible ride dispatched successfully.",
            "content": {
              "application/json": {
                "example": {}
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailedError",
            "content": {
              "application/json": {
                "examples": {
                  "invalid_payment": {
                    "value": {
                      "message": "We are unable to accept this payment method. Please contact your payment provider or try adding another payment method.",
                      "metadata": {
                        "statusCode": "400"
                      },
                      "code": "invalid_payment_method"
                    }
                  },
                  "unsupported_product": {
                    "value": {
                      "message": "The requested product couldn't be found.",
                      "metadata": {
                        "statusCode": "400"
                      },
                      "code": "unsupported_product"
                    }
                  },
                  "rate_limit": {
                    "value": {
                      "message": "The participant has already created maximum number of allowed concurrent trips.",
                      "metadata": {
                        "statusCode": "400"
                      },
                      "code": "rate_limit_exceeded"
                    }
                  },
                  "invalid_request_id": {
                    "value": {
                      "message": "Request.RequestID is not a uuid.",
                      "metadata": {
                        "statusCode": "400"
                      },
                      "code": "validation_failed"
                    }
                  },
                  "ride_dispatch_too_early": {
                    "value": {
                      "message": "Ride cannot be dispatched until pickup day.",
                      "metadata": {
                        "statusCode": "400"
                      },
                      "code": "validation_failed"
                    }
                  },
                  "ride_dispatch_expired": {
                    "value": {
                      "message": "This ride can no longer be dispatched.",
                      "metadata": {
                        "statusCode": "400"
                      },
                      "code": "validation_failed"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError",
            "content": {
              "application/json": {
                "examples": {
                  "ride_already_dispatched": {
                    "summary": "Ride Already Dispatched",
                    "description": "The ride has already been dispatched and cannot be dispatched again.",
                    "value": {
                      "message": "This ride can no longer be dispatched.",
                      "metadata": {
                        "statusCode": "404"
                      },
                      "code": "entity_not_found"
                    }
                  },
                  "ride_not_found": {
                    "summary": "Ride Not Found",
                    "description": "The ride could not be found using the provided request ID.",
                    "value": {
                      "message": "Not found",
                      "metadata": {
                        "statusCode": "404"
                      },
                      "code": "entity_not_found"
                    }
                  },
                  "non_flex_ride_dispatch": {
                    "summary": "Attempt to Dispatch Non-Flex Ride",
                    "description": "Attempting to dispatch a ride that is not a flexible ride type.",
                    "value": {
                      "message": "This ride type cannot be dispatched.",
                      "metadata": {
                        "statusCode": "404"
                      },
                      "code": "entity_not_found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailableError"
          }
        }
      }
    },
    "/guests/trips/tip": {
      "post": {
        "operationId": "addGuestTripTip",
        "summary": "Add a Tip to a Completed Trip",
        "tags": [
          "MANAGE TRIP ON BEHALF OF USER"
        ],
        "description": "Use this endpoint to add a tip to a **completed trip**. This endpoint is only available in the production environment and **does not support sandbox capabilitie**.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/header_org_uuid"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "request_id": {
                    "type": "string",
                    "description": "A unique identifier of the trip request returned when creating a trip."
                  },
                  "tip_amount": {
                    "type": "number",
                    "format": "float",
                    "description": "The amount of tip to add to the trip."
                  }
                },
                "required": [
                  "request_id",
                  "tip_amount"
                ]
              },
              "example": {
                "request_id": "353cd145-ea68-4739-b0ed-9ff55069009d",
                "tip_amount": 5
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "# Replace {token} in the code block below with your specific values.\n\ncurl -X POST 'https://api.uber.com/v1/guests/trips/tip \\\n-H 'Content-Type: application/json' \\\n-H 'Authorization: Bearer {token}' \\\n-d '{\n      \"request_id\": \"353cd145-ea68-4739-b0ed-9ff55069009d\",\n      \"tip_amount\": 5\n}'\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Tip added successfully. No content is returned.",
            "content": {
              "application/json": {
                "example": {}
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailedError",
            "content": {
              "application/json": {
                "examples": {
                  "invalid_request_id": {
                    "value": {
                      "message": "Request.RequestID is required",
                      "metadata": {
                        "statusCode": "400"
                      },
                      "code": "validation_failed"
                    }
                  },
                  "missing_tip_amount": {
                    "value": {
                      "message": "Request.TipAmount is required",
                      "metadata": {
                        "statusCode": "400"
                      },
                      "code": "validation_failed"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailableError"
          }
        }
      }
    },
    "/guests/trips/{request_id}/communication": {
      "put": {
        "operationId": "createTripCommunicationSession",
        "summary": "Create a Communication Session for a Trip",
        "tags": [
          "TRIP COMMUNICATION"
        ],
        "description": "Use this endpoint to create a communication session for a given trip. This session facilitates proxy voice and SMS communication between the trip driver and the recipient (which could be the rider or the organization). Only one session can exist per trip.\n\n- The provisioned phone number is only valid until the trip completes.\n- If called multiple times with different numbers, the previous session will be invalidated.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/request_id"
          },
          {
            "$ref": "#/components/parameters/header_org_uuid"
          }
        ],
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "# Replace {token} in the code block below with your specific values.\n\ncurl -X PUT 'https://api.uber.com/v1/guests/trips/b031db6c-46d9-4628-bb92-1150d3b47e20/communication'\\\n-H 'Content-Type: application/json' \\\n-H 'Authorization: Bearer {token}' \\\n-d '{\n  \"phone_number\": \"+14155553762\"\n}'\n"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phone_number": {
                    "type": "string",
                    "description": "The phone number of the rider or organization in [E.164 format (international)](https://en.wikipedia.org/wiki/E.164) used to communicate with the driver."
                  }
                },
                "required": [
                  "phone_number"
                ]
              },
              "example": {
                "phone_number": "+14155551234"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Communication session created successfully. Returns the proxy phone number.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "phone_number": {
                      "type": "string",
                      "description": "A phone number in [E.164 format (international)](https://en.wikipedia.org/wiki/E.164) that will proxy voice and SMS communications between the input number and the driver."
                    }
                  }
                },
                "example": {
                  "phone_number": "+14155554321"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailedError",
            "content": {
              "application/json": {
                "examples": {
                  "completed_ride": {
                    "value": {
                      "message": "Cannot create session for a completed ride.",
                      "metadata": {
                        "statusCode": "400"
                      },
                      "code": "bad_request"
                    }
                  },
                  "duplicate_session": {
                    "value": {
                      "message": "Participant creation rejected due to possible duplication across sessions.",
                      "metadata": {
                        "statusCode": "400"
                      },
                      "code": "bad_request"
                    }
                  },
                  "invalid_request_id": {
                    "value": {
                      "message": "Request.RequestID is not a uuid.",
                      "metadata": {
                        "statusCode": "400"
                      },
                      "code": "validation_failed"
                    }
                  },
                  "invalid_phone_number": {
                    "value": {
                      "message": "Phone number is invalid.",
                      "metadata": {
                        "statusCode": "400"
                      },
                      "code": "validation_failed"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailableError"
          }
        }
      }
    },
    "/guests/trips/call": {
      "post": {
        "operationId": "initiatePhoneCall",
        "summary": "Initiate Driver/Recipient Phone Call",
        "tags": [
          "TRIP COMMUNICATION"
        ],
        "description": "Use this endpoint to initiate a call between the driver and a recipient. This endpoint can be\nleveraged while the trip is in progress or after trip completion. The provided phone number\nwill be connected with the driver, and the recipient could either be the rider or the organization.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/header_org_uuid"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "request_id": {
                    "type": "string",
                    "description": "A unique identifier for the trip request."
                  },
                  "phone_number": {
                    "description": "The phone number of the recipient (rider or organization) in [E.164](https://en.wikipedia.org/wiki/E.164) format used to initiate a call with the driver. Example: `+11234567890`",
                    "type": "string",
                    "format": "phone",
                    "example": "+11234567890"
                  }
                },
                "required": [
                  "request_id",
                  "phone_number"
                ]
              },
              "example": {
                "request_id": "353cd145-ea68-4739-b0ed-9ff55069009d",
                "phone_number": "+11234567890"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The call was successfully initiated.",
            "content": {
              "application/json": {
                "example": {}
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailedError",
            "content": {
              "application/json": {
                "examples": {
                  "dispatching": {
                    "value": {
                      "message": "Invalid job status when calling a driver.",
                      "metadata": {
                        "status": "Dispatching"
                      },
                      "code": "bad_request"
                    }
                  },
                  "duplicate_session": {
                    "value": {
                      "message": "Driver call is already in progress.",
                      "metadata": {
                        "statusCode": "400"
                      },
                      "code": "entity_already_exists"
                    }
                  },
                  "too_many_calls": {
                    "value": {
                      "message": "Too many driver calls. Please try again in a few minutes.",
                      "metadata": {
                        "statusCode": "400"
                      },
                      "code": "rate_limit_exceeded"
                    }
                  },
                  "requestID_not_found": {
                    "value": {
                      "message": "Request.RequestID is not a uuid.",
                      "metadata": {
                        "statusCode": "400"
                      },
                      "code": "validation_failed"
                    }
                  },
                  "phone_number_invalid": {
                    "value": {
                      "message": "Phone number is invalid.",
                      "metadata": {
                        "statusCode": "400"
                      },
                      "code": "validation_failed"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailableError"
          }
        }
      }
    },
    "/guests/trips/{request_id}/message": {
      "post": {
        "operationId": "sendMessageToDriver",
        "summary": "Send a Message to the Driver for a Given Trip",
        "tags": [
          "TRIP COMMUNICATION"
        ],
        "description": "Use this endpoint to send a message to the Driver app of the current driver assigned\nto the given trip.\n\n**Notes:**\n- The request will fail if there is no driver currently assigned to the trip or trip is not active.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/request_id"
          },
          {
            "$ref": "#/components/parameters/header_org_uuid"
          }
        ],
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "# Replace {token} in the code block below with your specific values.\n\ncurl -X POST 'https://api.uber.com/v1/guests/trips/353cd145-ea68-4739-b0ed-9ff55069009d/dispatch'\\\n-H 'Content-Type: application/json' \\\n-H 'Authorization: Bearer {token}' \\\n-d '\n\"message\": \"Please pick up at the door on the right\"\n'\n"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string",
                    "description": "The message to deliver to the driver's app for the specified trip."
                  }
                },
                "required": [
                  "message"
                ]
              },
              "example": {
                "message": "Please pick up at the door on the right"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message successfully sent to the driver's app.",
            "content": {
              "application/json": {
                "example": {}
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailedError",
            "content": {
              "application/json": {
                "examples": {
                  "retry_request": {
                    "value": {
                      "message": "The ride communication is not ready to send or receive message yet, try to call it later",
                      "metadata": {
                        "statusCode": "400"
                      },
                      "code": "retry_request"
                    }
                  },
                  "inactive_ride": {
                    "value": {
                      "message": "can only send message for active rides",
                      "metadata": {
                        "statusCode": "400"
                      },
                      "code": "bad_request"
                    }
                  },
                  "no_driver": {
                    "value": {
                      "message": "cannot send message for ride without assigned driver",
                      "metadata": {
                        "statusCode": "400"
                      },
                      "code": "bad_request"
                    }
                  },
                  "invalid_request_id": {
                    "value": {
                      "message": "Request.RequestID is not a uuid.",
                      "metadata": {
                        "statusCode": "400"
                      },
                      "code": "validation_failed"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailableError"
          }
        }
      }
    },
    "/guests/guests/phone-info": {
      "get": {
        "operationId": "getGuestPhoneInfo",
        "summary": "Retrieve Phone Information for a Guest",
        "tags": [
          "GUEST DETAILS"
        ],
        "description": "Retrieves information about a phone number, including whether the number is mobile and if\nthe guest has unsubscribed from Uber SMS notifications.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/phone_number"
          }
        ],
        "x-codeSamples": [
          {
            "lang": "cURL",
            "label": "cURL",
            "source": "# Replace {token} in the code block below with your specific values.\n\ncurl -X GET 'https://api.uber.com/v1/guests/guests/phone-info?phone_number=%2B12025556666'\\\n-H 'Content-Type: application/json' \\\n-H 'Authorization: Bearer {token}' \\\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved phone information.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "is_mobile": {
                      "type": "boolean",
                      "description": "`true` if the phone number provided is a mobile number.\n"
                    },
                    "is_unsubscribed_sms": {
                      "type": "boolean",
                      "description": "`true` if the phone number has unsubscribed from Uber SMS messaging.\n"
                    },
                    "sms_opt_in_number": {
                      "type": "string",
                      "description": "Phone number the user can text to opt back into Uber SMS messaging.\nThis is country-specific and varies based on the guest's region.\n The `sms_opt_in_number` field is country-based and possible values are:\n\n  | Country Code     | SMS opt in number\n  | ---------------- | -----------------|\n  | US               | `4152370403` (default) |\n  | RU               | `9210000102` |\n  | FR               | `38696` |\n  | BR               | `29007` |\n  | CA               | `827222` |\n  | ZA               | `872406983` |\n  | AU               | `428499790` |\n  | UK               | `7860041131` |\n  | MX               | `9993190064` |\n"
                    },
                    "message": {
                      "type": "string",
                      "description": "Instructions on how to opt-in to receive Uber SMS messages."
                    },
                    "subscriptions": {
                      "type": "array",
                      "description": "The list of communication channels the guest is subscribed/unsubscribed to.",
                      "items": {
                        "type": "object",
                        "description": "Metadata about the communication channel subscription.",
                        "properties": {
                          "channel": {
                            "type": "string",
                            "description": "The communication channel the guest phone number is subscribed/unsubscribed to.",
                            "enum": [
                              "SMS",
                              "WHATSAPP"
                            ]
                          },
                          "is_subscribed": {
                            "type": "boolean",
                            "description": "Whether the guest is subscribed to the communication channel."
                          },
                          "opt_in_number": {
                            "type": "string",
                            "description": "Phone number the user can text to opt back into the communication channel.\nThis is country-specific and varies based on the guest's region. The `opt_in_number` field is country-based and possible values are:\n\n  | Country Code     | SMS opt in number      | WhatsApp opt in number |\n  | ---------------- | ---------------------- | ---------------------- |\n  | US               | `4152370403` (default) | `+18312823785` |\n  | RU               | `9210000102`           | `+18312823785` |\n  | FR               | `38696`                | `+18312823785` |\n  | BR               | `29007`                | `+18312823785` |\n  | CA               | `827222`               | `+18312823785` |\n  | ZA               | `872406983`            | `+18312823785` |\n  | AU               | `428499790`            | `+18312823785` |\n  | UK               | `7860041131`           | `+18312823785` |\n  | MX               | `9993190064`           | `+18312823785` |\n"
                          },
                          "message": {
                            "type": "string",
                            "description": "Instructions on how to opt-in to receive messages via the communication channel."
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "unsubscribed_user": {
                    "summary": "User Unsubscribed",
                    "value": {
                      "is_mobile": true,
                      "is_unsubscribed_sms": true,
                      "sms_opt_in_number": "4152370403",
                      "message": "We can`t send text message notifications for this ride because the rider opted out of SMS updates. Ask the rider to text START to 4152370403 so we can send ride notifications.",
                      "subscriptions": [
                        {
                          "channel": "SMS",
                          "is_subscribed": false,
                          "opt_in_number": "4152370403",
                          "message": "We can`t send text message notifications for this ride because the rider opted out of SMS updates. Ask the rider to text START to 4152370403 so we can send ride notifications."
                        },
                        {
                          "channel": "WHATSAPP",
                          "is_subscribed": false,
                          "opt_in_number": "+18312823785",
                          "message": "We can`t send text message notifications for this ride because the rider opted out of WhatsApp updates. Ask the rider to send START to WhatsApp +18312823785 so we can send ride notifications."
                        }
                      ]
                    }
                  },
                  "subscribed_user": {
                    "summary": "User Subscribed",
                    "value": {
                      "is_mobile": true,
                      "is_unsubscribed_sms": false,
                      "sms_opt_in_number": "4152370403",
                      "subscriptions": [
                        {
                          "channel": "SMS",
                          "is_subscribed": true,
                          "opt_in_number": "",
                          "message": ""
                        },
                        {
                          "channel": "WHATSAPP",
                          "is_subscribed": true,
                          "opt_in_number": "",
                          "message": ""
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailedError",
            "content": {
              "application/json": {
                "example": {
                  "code": "validation_failed",
                  "message": "Invalid phone number format. Please use E.164 format."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailableError"
          }
        }
      }
    },
    "/guests/zones": {
      "get": {
        "operationId": "getGuestZones",
        "summary": "Get Request Zones",
        "tags": [
          "LOCATION REFINEMENT"
        ],
        "description": "**Use Case:**\nThis endpoint returns information about specified pickup locations at venues like airports, hospitals, and concert arenas.\nThis helps to ensure that guests are picked up at the correct location with wayfinding notes to assist both riders and drivers.\n\n**Key Features:**\n- Supports **hierarchical** (e.g., airports with terminals and access points) and **non-hierarchical zones** (e.g., single-level venues like stadiums).\n- Returns **access points** when zones are not defined.\n- Provides **bounding box** coordinates that serve as visual cues for selecting the appropriate access point. Partners can overlay the bounding box on a map, display individual access point markers within the designated area, and allow users to choose the best option based on their location.\n\n**To Create Trip**\n\nUse one of the following values in place of `pickup.place.place_id` when you call [/v1/guests/trips](https://developer.uber.com/docs/guest-rides/references/api/v1/guest-trips-post) endpoint:\n- For pickup with hierarchical zone - `master_zone.sub_zones[i].access_points[i].id`\n- For pickup with non-hierarchical zone - `master_zone.access_points[i].id`\n- For pickup with no zone (access points only) - `access_points.id`\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/latitude"
          },
          {
            "$ref": "#/components/parameters/longitude"
          },
          {
            "$ref": "#/components/parameters/address"
          },
          {
            "$ref": "#/components/parameters/place_id"
          },
          {
            "$ref": "#/components/parameters/place_provider"
          },
          {
            "$ref": "#/components/parameters/product_id"
          },
          {
            "$ref": "#/components/parameters/header_org_uuid"
          }
        ],
        "x-codeSamples": [
          {
            "lang": "cURL (Latitude/Longitude)",
            "source": "curl -X GET \"https://api.uber.com/v1/guests/zones?latitude=37.7680183&longitude=-122.3878772\" \\\n-H 'Content-Type: application/json' \\\n-H 'Authorization: Bearer {token}' \\\n"
          },
          {
            "lang": "cURL (Address)",
            "source": "curl -X GET \"https://api.uber.com/v1/guests/zones?address=780%20s%20airport%20blvd%20san%20francisco%2C%20ca%2094128\" \\\n-H 'Content-Type: application/json' \\\n-H 'Authorization: Bearer {token}' \\\n"
          },
          {
            "lang": "cURL (Place_ID)",
            "source": "curl -X GET \"https://api.uber.com/v1/guests/zones?place_id=bc45ef5e-5cd2-3df8-b8ce-e589866f1726&place_provider=uber_places\" \\\n-H 'Content-Type: application/json' \\\n-H 'Authorization: Bearer {token}' \\\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Zones and access points retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetZonesResponse"
                },
                "examples": {
                  "hierarchical-zone-response": {
                    "$ref": "#/components/examples/HierarchicalZoneResponse"
                  },
                  "nonhierarchical-zone-response": {
                    "$ref": "#/components/examples/NonHierarchicalZoneResponse"
                  },
                  "no-zone-response": {
                    "$ref": "#/components/examples/NoZoneResponse"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailedError",
            "content": {
              "application/json": {
                "examples": {
                  "invalid_coordinates": {
                    "value": {
                      "message": "Request.Latitude and Longitude are required",
                      "metadata": {
                        "statusCode": "400"
                      },
                      "code": "invalid_request_parameters"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailableError"
          }
        }
      }
    },
    "/guests/address/autocomplete": {
      "get": {
        "operationId": "getGuestAddressAutocomplete",
        "summary": "Retrieve Autocomplete Suggestions for Addresses",
        "tags": [
          "LOCATION REFINEMENT"
        ],
        "description": "Retrieves a list of well-formatted addresses based on a partial query.\nThe results can be localized and geobased using optional parameters.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/query"
          },
          {
            "$ref": "#/components/parameters/locale"
          },
          {
            "$ref": "#/components/parameters/latitude"
          },
          {
            "$ref": "#/components/parameters/longitude"
          },
          {
            "$ref": "#/components/parameters/header_org_uuid"
          }
        ],
        "x-codeSamples": [
          {
            "lang": "cURL (Address only)",
            "source": "curl -X GET \"https://api.uber.com/v1/guests/address/autocomplete?query=1455%203rd%20St%20San%20Francisco\" \\\n-H 'Content-Type: application/json' \\\n-H 'Authorization: Bearer {token}' \\\n"
          },
          {
            "lang": "cURL (Address with locale)",
            "source": "curl -X GET \"https://api.uber.com/v1/guests/address/autocomplete?query=1455%203rd%20St%20San%20Francisco&locale=fr\" \\\n-H 'Content-Type: application/json' \\\n-H 'Authorization: Bearer {token}' \\\n"
          },
          {
            "lang": "cURL (Address with Coordinates)",
            "source": "curl -X GET \"https://api.uber.com/v1/guests/address/autocomplete?query=1455%203rd%20St%20San%20Francisco&latitude=37.7765488&longitude=-122.3901379\" \\\n-H 'Content-Type: application/json' \\\n-H 'Authorization: Bearer {token}' \\\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved address autocomplete results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressAutocompleteResponse"
                },
                "examples": {
                  "addresses-autocompleted": {
                    "$ref": "#/components/examples/AddressAutocompleteSuccess"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationFailedError",
            "content": {
              "application/json": {
                "examples": {
                  "invalid-request-param": {
                    "value": {
                      "message": "invalid query address min=4 characters max=350 characters",
                      "metadata": {
                        "statusCode": "400"
                      },
                      "code": "invalid_request_parameters"
                    }
                  },
                  "missing_query": {
                    "value": {
                      "message": "Request.Query is required.",
                      "metadata": {
                        "statusCode": "400"
                      },
                      "code": "validation_failed"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailableError"
          }
        }
      }
    },
    "/guests/sandbox/run": {
      "post": {
        "summary": "Create Sandbox Run",
        "servers": [
          {
            "url": "https://sandbox-api.uber.com/v1",
            "description": "Sandbox"
          }
        ],
        "tags": [
          "SANDBOX"
        ],
        "description": "Use this endpoint to create a new mock sandbox run.\n\nThis endpoint creates ephemeral mock test drivers that can be used to complete a trip in the sandbox.\n\nThe `run_id` and its drivers will exist for 8 hours and should be reused for additional trips in the same city.\n\n### Reliable Coordinates for Sandbox Trip Simulations\nWe recommend using the following coordinates for sandbox testing in San Francisco:\n\n- Pickup: 37.766192, -122.400745\n- Dropoff: 37.752030, -122.422065\n\nPlease note that the sandbox environment is temperamental and limited to specific locations.\n\n### Auto accept trip\n\nOptionally, you can set preferences during run creation. If `auto_accept_trip` preference is set, trip will be automatically accepted within a minute after creation.\nIn this case, there's no need to call `/v1/guests/sandbox/driver-state` with `ACCEPT` state.\nInstead you can wait for `guests.trips.status_changed` webhook, and then proceed with manual simulation for rest of the driver states such as `ARRIVED`→`BEGIN_TRIP`→ `DROPOFF`/ `CANCEL`.\n\n**NOTE**: If using Auto Accept Trip feature, make sure to create a trip within 5 minutes of run creation. Otherwise, the preference will be reset.\nAlso the preference is only valid for one trip per run. If you want to test more than 1 trips with a single run, use manual `/v1/guests/sandbox/driver-state` API with ACCEPT state for simulation.\nThis feature currently only supports on-demand trips.\n",
        "operationId": "createSandboxRun",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SandboxRunRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created sandbox run.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SandboxRunResponse"
                }
              }
            }
          }
        }
      }
    },
    "/guests/sandbox/run/{run_id}": {
      "get": {
        "summary": "Get Sandbox Run",
        "servers": [
          {
            "url": "https://sandbox-api.uber.com/v1",
            "description": "Sandbox"
          }
        ],
        "tags": [
          "SANDBOX"
        ],
        "description": "Use this endpoint to retrieve the list of driver IDs associated with a previously created sandbox run.\n\n**Note:** It may take up to 1 minute after calling `/v1/guests/sandbox/run` for the setup to complete. Avoid querying this endpoint too early, or it may return errors indicating the run is still initializing.\n\n---\n#### Error Scenarios\n\nThis endpoint may return an error in the following situations:\n\n- **Premature request:** You called this endpoint too soon after creating the run. Wait at least 10–60 seconds for the sandbox to finish initializing.\n- **Invalid or expired run:** The `run_id` is invalid or expired. Runs are ephemeral and expire after 8 hours. You will need to create a new run.\n- **Driver unavailable:** The driver may have gone offline automatically (after 5 minutes of inactivity) and needs to be reactivated using `GO_ONLINE` state.\n\nIn these cases, consider creating a new run or reactivating drivers as needed.\n",
        "operationId": "getSandboxRun",
        "parameters": [
          {
            "$ref": "#/components/parameters/run_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with driver IDs for the sandbox run.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SandboxRunDriversResponse"
                }
              }
            }
          },
          "400": {
            "description": "Returned if the run is still initializing.",
            "content": {
              "application/json": {
                "examples": {
                  "run_initializing": {
                    "summary": "Run is still initializing",
                    "value": {
                      "message": "RunID interactive-e8df92b1-f097-46a5-b316-98b4a743353a on orchestrator is in state initialized",
                      "metadata": {
                        "statusCode": "400"
                      },
                      "code": "invalid_request_parameters"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Returned if the run_id was not found.",
            "content": {
              "application/json": {
                "examples": {
                  "run_not_found": {
                    "summary": "Run ID not found",
                    "value": {
                      "message": "RunID is not valid",
                      "metadata": {
                        "statusCode": "404"
                      },
                      "code": "entity_not_found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/guests/sandbox/driver-state": {
      "post": {
        "operationId": "updateSandboxDriverState",
        "summary": "Update Sandbox Run Driver State",
        "servers": [
          {
            "url": "https://sandbox-api.uber.com/v1",
            "description": "Sandbox"
          }
        ],
        "tags": [
          "SANDBOX"
        ],
[...]
